fakeList a {
width: 100%;
display: block;
height: 30px;
padding-top: 2px;
-padding-top: 0;
line-height:18px;
*line-height:17;
/line-height:none;
//	background-image: url(images/cellpic3.gif); /* should be ignored */
_background-image: url(/ttt/gf.gif);
}
