@font-face {
    font-family: GillSans;
    src:url("/generic/fonts/GillSansLightC.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: GillSans;
    src:url("/generic/fonts/GillSansC.otf") format('opentype');
    font-style: normal;
    font-weight: bold;
}
