a {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(153,102,51)),
		color-stop(0.3, rgb(51,153,102)),
		color-stop(1, rgb(102,51,153))
	);
	content: "ABC
123
DEF
GHI";
}
b {
	content: "ABC\A123";
}
i {
	content: 'ABC
123\ADEF';
}
u {
	background: parenthetical(
		"string 1",
		"string
2",
		'string 3',
		'string "4',
		'string "5"',
		"string '6",
		"string (7)",
		"string 8)",
		(
			(
				(
					(
						("boo")
					)
				)
			)
		),
		(
			(
				(
					(
						("boo ba")
					)
				)
			)
		)
);
}
