div {
	display:block;
	display:inline-block;
}
.gradient {
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgba(215,240,240,0.9)), color-stop(0.5, rgba(235,250,250,0)));
	background-image: -moz-linear-gradient(bottom,rgba(215,240,240,0.9),rgba(235,250,250,0)) #ebf7f9;
}
